<section
  [routerLink]="link"
  class="module-card"
  [ngClass]="{
    'orange-theme': theme === 'orange',
    'cyan-theme': theme === 'cyan',
    'blue-theme': theme === 'blue',
    'beige-theme': theme === 'beige',
    'green-theme': theme === 'green',
    'yellow-theme': theme === 'yellow'
  }"
>
  <ion-img
    class="module-card-img"
    [src]="'assets/images/module-card/module-card-' + theme + '.png'"
  />
  <div class="background-img"></div>
  <div>
    <span>
      {{ title }}
    </span>
    <p>{{ description }}</p>
  </div>
</section>
