<ion-content [fullscreen]="true">
  <app-notebook-background theme="pale-aqua" />
  <main class="over-background">
    <app-back-page-button theme="blue" link="/modules-index" />

    <section class="container">
      <div class="header">
        <ion-img class="header-child" src="assets/images/child.png" />
        <div>
          <h1>MÓDULO 3</h1>
          <p>
            Garantizar el seguimiento continuo para una inclusión efectiva, por
            medio de la creación de la ruta con bienestar universitario
            favoreciendo la asistencia continua en los procesos académicos.
          </p>
        </div>
        <ion-img
          class="header-unipamplona"
          src="assets/images/unipamplona.png"
        />
      </div>
      <div class="content">
        <ion-img
          class="content-module-img"
          src="assets/images/module-three.png"
        />
        <ion-img
          class="content-footer-img"
          src="assets/images/module-three-footer.png"
        />
      </div>
    </section>
    <app-next-page-button theme="yellow" link="/modules/module-four" />
  </main>
</ion-content>
