<ion-content [fullscreen]="true">
  <app-notebook-background theme="ivory" size="small" />
  <main class="over-background">
    <app-back-page-button theme="blue" link="/modules/module-four" />

    <section class="container">
      <h1 class="title">Diversidad Psicosocial</h1>

      <div class="page">
        <header>
          <span></span>
          <span></span>
        </header>

        <div class="content">
          <p>
            <strong> Comunicación Abierta: </strong> Mantener una comunicación
            abierta y regular con el estudiante para comprender sus necesidades
            y preocupaciones, y brindar apoyo emocional cuando sea necesario.
          </p>

          <ion-img
            class="intermediate-img"
            src="assets/images/module-four/psychological/psychological-1.png"
          />

          <p>
            <strong> Opciones de Evaluación Alternativas: </strong> Permitir
            opciones de evaluación alternativas, como presentaciones orales en
            lugar de exámenes escritos, para reducir la ansiedad asociada con
            las pruebas.
          </p>
          <p>
            <strong>Apoyo: </strong> Facilitar el acceso a la ruta de bienestar
            universitario que pueda ofrecer apoyo adicional y recursos para
            gestionar la ansiedad o la depresión.
          </p>

          <ion-img
            class="intermediate-img"
            src="assets/images/module-four/psychological/psychological-2.png"
          />

          <p>
            <strong> Instrucciones Claras y Estructuradas: </strong>
            Proporcionar instrucciones claras y estructuradas para las tareas y
            actividades, lo que puede ayudar a reducir la incertidumbre y la
            ansiedad.
          </p>
          <p>
            <strong> Espacios de Calma: </strong>
            Crear espacios de calma en el aula donde el estudiante pueda
            retirarse brevemente si siente la necesidad de calmarse o relajarse.
          </p>
          <p>
            <strong> Apoyo de Compañeros: </strong>
            Fomentar la empatía y el apoyo entre los compañeros de clase,
            promoviendo un ambiente donde los estudiantes se sientan respaldados
            y comprendidos.
          </p>
          <p>
            <strong> Uso de Tecnología: </strong>
            Trabajar con el estudiante para establecer metas realistas y
            alcanzables, celebrando los logros, incluso los pequeños, para
            fomentar una sensación de logro.
          </p>
        </div>

        <div class="card">
          Proporcionar información sobre recursos externos, como servicios de
          asesoramiento escolar o comunitario, que puedan ofrecer apoyo
          adicional fuera del entorno escolar.
        </div>

        <ion-img
          class="intermediate-img"
          src="assets/images/module-four/psychological/psychological-3.png"
        />
      </div>
    </section>
    <app-next-page-button
      theme="yellow"
      link="/modules/module-four"
    />
  </main>
</ion-content>
