<ion-content [fullscreen]="true">
  <app-notebook-background theme="ivory" size="small" />
  <main class="over-background">
    <app-back-page-button theme="blue" link="/modules/module-four" />

    <section class="container">
      <h1 class="title">Diversidad Multiple</h1>

      <div class="page">
        <header>
          <span></span>
          <span></span>
        </header>

        <div class="card card-1">
          <p>
            Fomentar la participación activa del estudiante en actividades
            físicas adaptadas, promoviendo una inclusión plena en las clases de
            educación física y eventos escolares.
          </p>

          <p>
            <strong>Uso de Tecnología de Asistencia:</strong> Permitir el uso de
            tecnologías de asistencia, como dispositivos de comunicación
            aumentativa, para facilitar la comunicación y la participación en
            clase.
          </p>
        </div>

        <ion-img
          class="intermediate-img"
          src="assets/images/module-four/multiple/multiple-1.png"
        />

        <div class="card card-2">
          <p>
            Adaptar actividades prácticas para que el estudiante pueda
            participar de manera activa, ya sea mediante la modificación de
            materiales o la implementación de estrategias alternativas
          </p>

          <p>
            <strong>Apoyo de Compañeros: </strong> Fomentar un ambiente de apoyo
            entre los compañeros, promoviendo la colaboración y la empatía para
            garantizar que el estudiante se sienta incluido y aceptado.
          </p>
        </div>

        <ion-img
          class="intermediate-img"
          src="assets/images/module-four/multiple/multiple-2.png"
        />

        <div class="card card-1">
          <p>
            Ser flexible en la disposición del aula, permitiendo que el
            estudiante pueda acceder fácilmente a su lugar y participar en todas
            las interacciones.
          </p>

          <p>
            <strong>Planificación para Descansos: </strong> Planificar pausas y
            descansos regulares para asegurar que el estudiante pueda gestionar
            la fatiga y mantener un nivel de comodidad durante el día escolar
          </p>
        </div>
      </div>
    </section>
    <app-next-page-button theme="yellow" link="/modules/module-four-psychological" />
  </main>
</ion-content>
