<ion-content [fullscreen]="true">
  <app-notebook-background theme="cyan" />
  <main class="over-background">
    <app-back-page-button theme="yellow" link="/inclusion-in-the-classroom" />

    <section class="container">
      <div class="board-card">
        <app-board-card>
          <div>
            <h1>Autor:</h1>
            <p>Flor Angel Contreras Grismaldo</p>
          </div>
        </app-board-card>
      </div>
      <div class="content">
        <p>ASESORA CIENTÍFICA</p>
        <p>ESP.HILDA CAROLINA PATIÑO</p>
        <p>MANRIQUE</p>
        <p>ASESOR METODOLÓGICO</p>
        <p>PHD. MARCO FREDY JAIMES LAGUADO</p>

        <p class="separation">ING: JAMES CUADRADO</p>
        <p>COMUNICADOR SOCIAL: JOSE DAJIL</p>
      </div>

      <footer class="footer">
        <app-hand-button
          label="Página de inicio"
          link="/inclusion-in-the-classroom"
        />

        <ion-button (click)="generateCSV()" class="generate-button">
          <span class=""> Generar CSV </span>
        </ion-button>

        <ion-button (click)="clearData()" class="remove-button">
          <span class=""> Limpiar datos </span>
        </ion-button>
      </footer>
    </section>
  </main>
</ion-content>
