<ion-content [fullscreen]="true">
  <app-notebook-background theme="ivory" size="small" />
  <main class="over-background">
    <app-back-page-button theme="blue" link="/modules/module-four" />

    <section class="container">
      <h1 class="title">Diversidad Cognitiva</h1>

      <div class="page">
        <header>
          <span></span>
          <span></span>
        </header>

        <div class="card">
          <ol>
            <li>
              Material Visual Simplificado:
              <ul>
                <li>
                  Utilizar material visual simple y claro, con imágenes y
                  gráficos fácilmente comprensibles que respalden la información
                  presentada.
                </li>
              </ul>
            </li>
            <li>
              Instrucciones Claras y Repetición:
              <ul>
                <li>
                  Proporcionar instrucciones claras y repetir la información
                  importante varias veces para asegurarse de que el estudiante
                  comprenda las tareas y las expectativas.
                </li>
              </ul>
            </li>
            <li>
              Uso de Apoyos Visuales:
              <ul>
                <li>
                  Incorporar apoyos visuales, como carteles, gráficos o
                  diagramas, para ayudar a reforzar conceptos clave y facilitar
                  la comprensión.
                </li>
              </ul>
            </li>
          </ol>
        </div>

        <ion-img
          class="intermediate-img"
          src="assets/images/module-four/cognitive/cognitive-1.png"
        />

        <div class="card">
          <ol>
            <li>
              Instrucciones Paso a Paso:
              <ul>
                <li>
                  Dividir las tareas en pasos más pequeños y proporcionar
                  instrucciones paso a paso para que el estudiante pueda
                  abordarlas de manera más manejable.
                </li>
              </ul>
            </li>
            <li>
              Adaptación de Evaluaciones:
              <ul>
                <li>
                  Modificar las evaluaciones para enfocarse en la comprensión de
                  conceptos clave en lugar de depender en gran medida de
                  habilidades escritas o de memoria.
                </li>
              </ul>
            </li>
            <li>
              Refuerzo Positivo:
              <ul>
                <li>
                  Implementar un sistema de refuerzo positivo para reconocer y
                  recompensar los logros del estudiante, fomentando así la
                  motivación y la participación.
                </li>
              </ul>
            </li>
            <li>
              Trabajo en Parejas o Grupos:
              <ul>
                <li>
                  Facilitar oportunidades para trabajar en parejas o grupos
                  pequeños, donde el estudiante pueda recibir apoyo adicional de
                  sus compañeros y participar en actividades colaborativas.
                </li>
              </ul>
            </li>
            <li>
              Adaptación de Materiales de Lectura:
              <ul>
                <li>
                  Proporcionar versiones simplificadas de textos o utilizar
                  recursos multimedia para presentar la información de manera
                  más accesible.
                </li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </section>
    <app-next-page-button
      theme="yellow"
      link="/modules/module-four-auditory"
    />
  </main>
</ion-content>
