<ion-content [fullscreen]="true">
  <app-notebook-background theme="grayish-blue" size="small" />
  <main class="over-background">
    <app-back-page-button theme="blue" link="/modules-index" />

    <section class="container">
      <header class="header">
        <ion-img class="white-star" src="assets/images/white-star.png" />
        <h1>Módulo 5</h1>
        <h2>Normativa</h2>
      </header>
      <ion-img class="companion-img" src="assets/images/companion.png" />

      <div class="content">
        <article class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <h2>1. UNIVERSIDAD</h2>
            <p>
              Acuerdo N° 044 del 20 de agosto de 2015 Por el cual se adopta la
              Política de Inclusión Social y Accesibilidad Universal para los
              GRUPOS PRIORIZADOS: Personas con discapacidad de la Universidad de
              Pamplona
            </p>
          </div>
        </article>

        <article class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <h2>2. INCLUSIÓN</h2>
            <p>
              La educación inclusiva la participación efectiva de las diversas
              comunidades de la frontera, lo que permite de verdad la
              transformación de las personas para conseguir una calidad de vida.
            </p>
          </div>
        </article>

        <article class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <h2>3. NORMATIVA NACIONAL</h2>
            <p>
              ¿Qué normatividad existe en Colombia para las personas con
              discapacidad? Ley 361 de 1997 (Ley de Discapacidad) “Por la cual
              se establecen mecanismos de integración social de las personas con
              limitación y se dictan otras disposiciones.
            </p>
          </div>
        </article>

        <article class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <h2>4. ACCESIBILIDAD</h2>
            <p>
              NTC 6047:2013, Accesibilidad al medio físico. Espacios de servicio
              al ciudadano en la administración pública.
            </p>
          </div>
        </article>
      </div>

      <ion-img class="intermediate-img" src="assets/images/persons.png" />
      <div class="featured-card">
        <ion-img class="white-star" src="assets/images/white-star.png" />
        Con un trabajo interdisciplinario y constante se construye sociedad, se
        fortalece la inclusión y el compromiso por una Universidad más diversa y
        comprometida con el desarrollo del departamento
      </div>
    </section>
    <app-next-page-button theme="yellow" link="/modules/module-six" />
  </main>
</ion-content>
