<ion-content [fullscreen]="true">
  <app-notebook-background theme="ivory" size="small" />
  <main class="over-background">
    <app-back-page-button theme="blue" link="/modules/module-four" />

    <section class="container">
      <h1 class="title">Diversidad Visual</h1>

      <div class="page">
        <header>
          <span></span>
          <span></span>
        </header>

        <div class="card">
          <ol>
            <li>
              Materiales en Braille:
              <ul>
                <li>
                  Proporcionar libros de texto y materiales en Braille para que
                  el estudiante pueda leer y estudiar de manera independiente.
                </li>
              </ul>
            </li>
            <li>
              Software de Lectura de Pantalla:
              <ul>
                <li>
                  Utilizar software de lectura de pantalla que convierta el
                  texto en voz para que el estudiante pueda escuchar la
                  información presentada en la pantalla.
                </li>
              </ul>
            </li>
          </ol>
        </div>

        <ion-img
          class="intermediate-img"
          src="assets/images/module-four/visually/visually-1.png"
        />

        <div class="card">
          <p>
            Descripciones Verbales: Incluir descripciones verbales detalladas de
            gráficos, imágenes o cualquier material visual utilizado durante la
            clase para que el estudiante pueda comprender completamente el
            contenido.
          </p>
          <p>
            Participación Oral: Fomentar la participación oral en clase para que
            el estudiante ciego pueda expresar sus ideas y responder preguntas
            sin depender de la escritura˝
          </p>
        </div>

        <ion-img
          class="intermediate-img"
          src="assets/images/module-four/visually/visually-2.png"
        />

        <div class="card">
          <p>
            Adaptaciones en Evaluaciones: Modificar las evaluaciones para
            garantizar que se centren en la comprensión del contenido en lugar
            de depender en gran medida de la escritura o la presentación visual.
          </p>
          <p>
            Colaboración con Servicios de Apoyo: Colaborar estrechamente con los
            servicios de apoyo a estudiantes con discapacidades para asegurar
            que se estén implementando todas las adaptaciones necesarias.
          </p>
        </div>

        <ion-img
          class="intermediate-img"
          src="assets/images/module-four/visually/visually-3.png"
        />
      </div>
    </section>
    <app-next-page-button
      theme="yellow"
      link="/modules/module-four-cognitive"
    />
  </main>
</ion-content>
