<ion-content [fullscreen]="true">
  <app-notebook-background theme="cyan" />
  <main class="over-background">
    <app-back-page-button theme="blue" link="/modules-index" />

    <section class="background-page">
      <ion-img class="background-page-img" src="assets/images/beige-page.png" />

      <div class="container">
        <section class="content">
          <h1 class="title">Cambios Ocupacionales</h1>
          <ion-img class="intermediate-img" src="assets/images/occupational-therapy.png" />

          <p class="description">
            De las Heras (2015), plantea que el cambio ocupacional implica una
            progresión continua, desde la exploración hasta la competencia y el
            logro. Los estudiantes con diversidad funcional a menudo enfrentan
            cambios ocupacionales significativos a medida que ingresan a la
            universidad y se enfrentan a un nuevo entorno académico. El
            programa, aborda estos cambios proporcionando estrategias y apoyo a
            docentes y personal administrativo para ayudar a los estudiantes a
            navegar en estas transiciones.
          </p>

          <ion-img class="changes-img" src="assets/images/changes.png" />
        </section>
      </div>
    </section>
    <app-next-page-button theme="yellow" link="/modules/module-six-occupational-changes" />
  </main>
</ion-content>
