<ion-content [fullscreen]="true">
  <app-notebook-background theme="cyan" />
  <main class="over-background">
    <app-back-page-button theme="blue" link="/modules-index" />

    <section>
      <div class="container">
        <section class="content">
          <div class="description">
            <p>
              <strong
                >Comunica tus necesidades al Centro de Apoyo a Estudiantes a la
                ruta establecida con bienestar.</strong
              >
              Ellos pueden proporcionar ajustes razonables y apoyo
              individualizado.
            </p>
            <p>
              <strong>Planificación del Tiempo:</strong> Desarrolla habilidades
              efectivas de gestión del tiempo para equilibrar las demandas
              académicas, sociales y personales. Esto puede ayudar a reducir el
              estrés y mejorar el rendimiento académico.
            </p>
            <p>
              <strong> Adaptaciones en las Clases: </strong> Coordina con tus
              profesores para implementar adaptaciones en las clases según tus
              necesidades, como proporcionar material de lectura anticipado o
              permitir la grabación de clases.
            </p>
            <p>
              <strong>Construye una red de apoyo,</strong> incluyendo compañeros
              de clase, profesores y profesionales del campus que estén al tanto
              de tus necesidades y te brinden apoyo cuando sea necesario.
            </p>

            <br />
            <p>
              <strong>Autocuidado:</strong> Prioriza el autocuidado. Mantén una
              rutina de sueño adecuada, realiza actividades recreativas y busca
              ayuda si sientes que la carga académica está afectando tu
              bienestar emocional o físico.
            </p>
            <p>
              <strong> Participación Social: </strong> Participa en actividades
              sociales y extracurriculares. La vida universitaria va más allá de
              las aulas, y la participación en actividades puede contribuir a un
              ambiente más enriquecedor.
            </p>
            <p>
              <strong>Exploración de Carreras:</strong> Utiliza recursos
              universitarios para explorar opciones profesionales y establecer
              metas a largo plazo. Los servicios de orientación profesional
              pueden ser de gran ayuda.
            </p>
            <p>
              <strong>Monitoreo de la Salud Mental:</strong> Presta atención a
              tu salud mental. Si experimentas estrés, ansiedad o cualquier otro
              desafío emocional, busca apoyo en los servicios de salud mental de
              tu universidad.
            </p>
          </div>
          <ion-img
            class="occupational-changes"
            src="assets/images/occupational-changes-left.png"
          />
        </section>

        <ion-img
          class="occupational-changes-down"
          src="assets/images/occupational-changes-down.png"
        />

        <p class="footer">
          El sentido de competencia es una percepción subjetiva que una persona tiene
acerca de su habilidad para enfrentar y superar desafíos en una determinada
área o tarea.
        </p>
      </div>
    </section>
    <app-next-page-button theme="yellow" link="/author-and-credits" />
  </main>
</ion-content>
