.container {
  padding: 3rem 2rem 1rem;
}

.title {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.4rem 1rem;
  text-align: center;
  background: #7c6752;
  color: #fff;
  border-radius: 1rem;
}

.page {
  margin: 1rem 1rem;
  border: #7c6752 solid 6px;
  border-radius: 1rem;
  background-color: #fbf4da;
  overflow: hidden;

  & header {
    background-color: #E3E4FD;
    padding: 0.5rem 1rem;
    margin-bottom: 0.1rem;

    display: flex;

    & span {
      width: 2.3rem;
      height: 2.3rem;
      background-color: #F2CD64;
      border-radius: 6rem;
      border: #7c6752 solid 5px;
      margin-right: 0.5rem;
    }
  }

  & .card {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 1rem;
    border: #7c6752 solid 6px;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;

    &:last-child {
      margin-bottom: 1rem;
    }

    &:first-child {
      margin-top: 1rem;
    }
  }

  .card-1 {
    background: linear-gradient(to right, #D6FCDB, #9DBCF9);
  }

  .card-2 {
    background: #E3E4FD;
  }

  .intermediate-img {
    height: 5rem;
    margin: 0 auto;
  }
}
