<ion-content [fullscreen]="true">
  <app-notebook-background theme="ivory" size="small" />
  <main class="over-background">
    <app-back-page-button theme="blue" link="/modules/module-four" />

    <section class="container">
      <h1 class="title">Diversidad Auditiva</h1>

      <div class="page">
        <header>
          <span></span>
          <span></span>
        </header>

        <ion-img
          class="intermediate-img"
          src="assets/images/module-four/auditory/auditory-1.png"
        />

        <div class="card card-1">
          Proporcionar un intérprete de lengua de señas en el aula para
          garantizar que el estudiante tenga acceso completo a las instrucciones
          y la interacción verbal.
        </div>

        <ion-img
          class="intermediate-img"
          src="assets/images/module-four/auditory/auditory-2.png"
        />

        <div class="card card-2">
          Diseñar actividades interactivas que utilicen imágenes, gráficos y
          materiales visuales para que el estudiante pueda participar
          activamente en el aprendizaje.
        </div>

        <ion-img
          class="intermediate-img"
          src="assets/images/module-four/auditory/auditory-3.png"
        />

        <div class="card card-1">
          Realizar actividades de sensibilización en el aula para educar a los
          compañeros sobre la sordera y fomentar un ambiente de respeto y
          comprensión.
        </div>

        <ion-img
          class="intermediate-img"
          src="assets/images/module-four/auditory/auditory-4.png"
        />

        <div class="card card-2">
          Incluir proyectos visuales que permitan al estudiante demostrar su
          comprensión de los temas de estudio de manera creativa, como a través
          de presentaciones visuales o carteles.˝
        </div>
      </div>
    </section>
    <app-next-page-button theme="yellow" link="/modules/module-four-multiple" />
  </main>
</ion-content>
